body {

    background-color: #3e3e3e;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.custom-navbar {
    background-color: #0d6efd;
}


.navbar-brand {
    color: #ffffff
}


.alinhamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ajax {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.async {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.fetch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.informe {
    display: flex;
    align-items: center;
    justify-content: center;
}


.digite {

        display: flex;
        align-items: center;
        justify-content: center;
}


.endereco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.APIs {
    display: flex;
    gap: 200px
}


.pesquisa {
    text-align: left;
}