body {
     background-color: #3e3e3e;
    color: #ffffff;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

code {
    background-color: #000000;
    padding: 2px 5px;
    border-radius: 4px;
}

pre {
    background-color: #000000;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

h2 {
    color: #ffffff;
}